@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-primary: #8e4bf2;
  --bg-primary-hover: #7a3ee0;
  --secondary: #3d7cdb;
  --bg-input: #FBFCFD;
  --stroke-input: #E1E7EF;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}
