@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.625rem;
  --background: rgba(255, 255, 255, 1);
  --foreground: rgba(23, 23, 23, 1);
  --card: rgb(238, 238, 238);
  --card-foreground: rgba(37, 37, 37, 1);
  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgba(37, 37, 37, 1);
  --primary: rgb(0, 0, 0);
  --primary-foreground: rgba(251, 251, 251, 1);
  --secondary: rgba(15, 105, 179, 0.815);
  --secondary-foreground: rgba(251, 251, 251, 1);
  --muted: rgba(247, 247, 247, 1);
  --muted-foreground: rgba(135, 135, 135, 1);
  --accent: rgba(247, 247, 247, 1);
  --accent-foreground: rgba(52, 52, 52, 1);
  --destructive: rgba(255, 67, 67, 1);
  --destructive-foreground: rgba(251, 251, 251, 1);
  --success: rgb(9, 168, 9);
  --border: rgba(235, 235, 235, 1);
  --input: rgba(126, 126, 126, 1);
  --ring: rgba(15, 105, 179, 0.815);
  --sidebar-background: rgba(250, 250, 250, 1);
  --sidebar-foreground: rgba(61, 61, 61, 1);
  --sidebar-primary: rgba(26, 26, 26, 1);
  --sidebar-primary-foreground: rgba(250, 250, 250, 1);
  --sidebar-accent: rgba(244, 244, 244, 1);
  --sidebar-accent-foreground: rgba(26, 26, 26, 1);
  --sidebar-border: rgba(225, 225, 225, 1);
  --sidebar-ring: rgba(42, 137, 255, 1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
